{% extends "layout.html" %}
{% block body %}
  <h2>Forms 1</h2></br>
  
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  
  {% from "_formhelpers.html" import render_field %}
<fieldset  class=ui-widget-content >
  <form method=post id ="forms1" action="/forms1">
	  <dl>
		{{ render_field(form.firstname) }}
		{{ render_field(form.lastname) }}
		{{ render_field(form.email) }}
		{{ render_field(form.password) }}
		{{ render_field(form.confirm) }}
		{{ render_field(form.location) }}
		{{ render_field(form.birthdate) }}
		{{ render_field(form.country) }}
		{{ render_field(form.accept_tos) }}
	  </dl>
	  <p><input type=submit value=Submit id="mybutton">
	</form>
</fieldset>



{% endblock %}


